body {
  font-family: Tahoma, Helvetica, Arial, sans-serif;
  background-color: #34495e;
  color: #ecf0f1;
  font-size: 18px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Times New Roman", serif; }

.shape, .shape1, .shape2, .shape3 {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 18px;
  background-color: #7796b4;
  border: 1px solid #6a8bad; }

.shape1 {
  box-shadow: 1px 2px 5px 2px black; }
  .shape1:hover {
    box-shadow: 4px 8px 20px 2px black;
    transition: 0.2s; }

.shape2 {
  box-shadow: 2px 4px 10px 2px black; }

.shape3 {
  box-shadow: 4px 8px 20px 2px black; }

nav {
  font-size: 20px;
  background-color: #ecf0f1; }
  nav ul li {
    display: inline-block; }
    nav ul li a {
      display: block;
      padding-left: 20px;
      color: #34495e;
      border-right: 1px solid #34495e;
      transition: all 300ms ease-in-out; }
      nav ul li a:hover, nav ul li a:focus {
        color: #ecf0f1;
        background-color: #34495e; }
